.cart-root {
    overflow-x: hidden;
}

.cart-block {
    padding: 3% 2% 5% 0;
}

.cart-block > p {
    font-size: 24px;
    font-weight: 700;
}

.cart-content {
    margin-top: -2%;
    padding: 0 10%;
}

.cart-singleItem-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-singleItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    text-align: left;
}

.cart-singleItem img {
    width: 250px;
    height: 250px;
    box-shadow: 14px 9px 48px -24px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-right: 10%;
}

.cart-item-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

.cart-item-count span {
    font-size: 22px;
}

.plusIcon {
    cursor: pointer;
}

.totalPrice {
    font-size: 18px;
    text-align: right;
    width: 20%;
}

.totalPrice span {
    font-size: 22px;
    font-weight: 700;
}

.delete-icon-p {
    text-align: left;
}

.delete-icon {
    font-size: 32px !important;
    cursor: pointer;
    margin-left: -4px;
    color: red;
}

.checkout-block {
    position: relative;
    left: 91rem;
    font-size: 32px;
    width: fit-content;
    text-align: right;
}

.cBlock-quantity {
    font-size: 22px;
}