.category-root {
    padding: 3% 0;
}

.category-root > p {
    font-size: 32px;
    font-weight: 700;
}

.products-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}

.single-product {
    text-align: left;
}

.pPrice, .pTitle {
    font-size: 24px;
    font-weight: 700;
}

.pPrice-span {
    background-color: #ffea29;
    padding: 0 5%;
}


.single-product img {
    width: 350px;
    height: 350px;
    box-shadow: 14px 9px 48px -24px rgba(0,0,0,0.75);
    border-radius: 10px;
}

