.nav {
    background-color: #0079ba;
    color: white
}

.nav-items-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 8%;  
}

.nav-items-root > p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 22%;
    cursor: pointer;
}

.nav-items-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%; 
}

.nav-items-content > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}