.nav {
    background-color: #0079ba;
    color: white
}

.nav-items-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
    /* border: 2px solid red; */
    
}

.nav-items-content {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%; 
}

.nav-items-content > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-items-content button {
    /* color: white !important; */
}